.editorconfig
.env
.environment
.eslintignore
.eslintrc
.eslintrc.js
.git
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.php_cs.dist
.platform
.platform.app.yaml
.travis.yml
bin
cypress
cypress.json.dist
ISSUE_TEMPLATE.md
kellerkinder-plugin.json
LICENCE
LICENSE
node_modules
package.json
package-lock.json
phpmd.xml
phpstan.neon
phpstan.neon.dist
phpunit.xml.dist
psalm.xml
psh
sonar-project.properties
test
tests

